.gradle
.travis.yml
/build/

### application folders ###
/import
/archive
/database
/log

### docker compose volumes ###
/mupacs-archive
/mupacs-data
/mupacs-import
/mupacs-logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

