<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Studies</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./../static/mupacs.css" th:href="@{/mupacs.css}"/>
</head>

<body>
<div class="container">

    <h2>List of Studies</h2>
    <h4 th:text="'Patient: ' + ${patient.patientsName}">PATIENT</h4>

    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>

            <th>StudyInstanceUID</th>
            <th>StudyDescription</th>
            <th>StudyID</th>
            <th>StudyDate</th>
            <th>StudyTime</th>
            <th>AccessionNumber</th>
            <th>ModalitiesInStudy</th>
            <th>ReferringPhysicianName</th>

            <th>#Series</th>
        </tr>

        <tr th:each="s : ${studies}">

            <td th:text="${s.id}" />

            <td th:text="${s.ety().studyInstanceUID}" />
            <td th:text="${s.ety().studyDescription}" />
            <td th:text="${s.ety().studyId}" />
            <td th:text="${s.ety().studyDate}" />
            <td th:text="${s.ety().studyTime}"/>
            <td th:text="${s.ety().accessionNumber}" />
            <td th:text="${s.ety().modalitiesInStudy}" />
            <td th:text="${s.ety().referringPhysicianName}" />

            <td>
                <form action="#" th:action="@{/serieslist}" method="get">
                    <input type="hidden" name="studyId" th:value="${s.id}"/>
                    <button type="submit" class="btn btn-default" th:id="'button_' + ${s.id}">
                        <div th:text="${s.numberOfSeries}"></div>
                    </button>
                </form>
            </td>

        </tr>

    </table>
</div>

<!--
<div th:include="footer :: copy">
</div>
-->

</body>
</html>





